/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #4E598C;
    color: #fff;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #757fb2;
  }
  
  /* Highlighting the current page */
  nav .current-page {
    background-color: #757fb2;
  }
  /* ... (existing styles) */
  
  header {
    background-color: #FFF8F0;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main {
    padding: 20px;
  }
  section{
    text-align: center;
  }
  .introductie {
    margin-bottom: 20px;
  }
  
  .introductie img {
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #4E598C;
    color: #fff;
    font-size: xx-large;
  }
  canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }