/* Reset some default styles */
@font-face {
  font-family: poppins;
  src: url(/Poppins/Poppins-Regular.ttf);
}
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: poppins, sans-serif;
  }
  
  nav {
    background-color: #4E598C;
    color: #fff;
    font-size: xx-large;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #757fb2;
    border-radius: 15px;
  }
  
  /* Highlighting the current page */
  nav .current-page {
    background-color: #757fb2;
    border-radius: 15px;
  }
  /* ... (existing styles) */
  
  header {
    background-color: #FFF8F0;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main {
    padding: 20px;
  }
  section{
    text-align: center;
  }
  .introductie {
    margin-bottom: 20px;
  }
  
  .introductie img {
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #4E598C;
    color: #fff;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style optional fields differently */
input[type="tel"],
input[type="text"]#company {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}