/* Reset some default styles */
@font-face {
  font-family: poppins;
  src: url(/Poppins/Poppins-Regular.ttf);
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
}

nav {
  background-color: #4E598C;
  color: #fff;
  font-size: xx-large;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

nav a:hover {
  background-color: #757fb2;
  border-radius: 15px;
}


nav .current-page {
  background-color: #757fb2;
  border-radius: 15px;
}

header {
  background-color: #FFF8F0;
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
}

section {
  text-align: center;
  padding-left: 390px;
  padding-right: 390px;
}

.introductie {
  margin-bottom: 20px;
  text-align: left;
}

.introductie img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4E598C;
  color: #fff;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4E598C;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.resume-button:hover {
  background-color: #757fb2;
}
.spotify-player {
  width: 100%;
  height: 80px; /* Adjust the height as needed */
  background-color: #4E598C; /* Adjust background color as needed */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-player iframe {
  width: 100%;
  height: 100%;
  border: none;
}
